<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permettre l'exécution directe des scripts PHP dans /api/
  RewriteRule ^api/ - [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
